.square {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    margin: 30px;
}

.circle {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 20px;
    margin: 30px;
}

.bigSquare {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;
    margin: 30px;
}

.disappear {
    display: none;
}

.appear {
    display: initial;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.purple {
    background-color: purple;
}

.blue {
    background-color: blue;
}

.nicholas {
    background-size: contain;
    background-image: url("Nicholas.png");
}