.container {
    display: flex;
    flex-direction: column;
}

.app {
    background-color: aliceblue;
    text-align: center;
}

h1 {
    margin: 25px
}

h2 {
    margin: 20px
}

img {
    height: 300px;
    width: 300px;
    margin: 15px;
}