.container {
  margin: 15px;
  padding: 15px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.newName {
  border-bottom: 1px dashed gray;
}

.input {
  background-color: azure;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}